<a href="https://colab.research.google.com/github/Hanna025/PythonForMachineLearning/blob/master/Assignment_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Take a variable named num1 and assign String value '25' value to it and print out the variable and type of variable. Type cast it to Integer datatype and store it back in num1 and then again print the datatype

In [0]:
num1 = '25'
print(num1)
print(type(num1))
num1 = int(num1)
print(type(num1))

25
<class 'str'>
<class 'int'>

2. Using input function take another variable named num2 and assign value 26.2 to it using input method. Add num1 and num2 and store it in add and print the statement saying the value of number1 and number2 is 51.2 using format specifier

In [0]:
num2 = float(input())
add = num1 + num2
print("The sum of %d and %f is" %(num1,num2),add)

26.2
The sum of 25 and 26.200000 is 51.2

3. Write a function named season and accept one parameter named weather.
Weather variable should accept an input. Using conditional statements write a code to check if the weather is cold, then it should print Winter. If the weather is sunny, then it should print Summer Else print wrong input

In [0]:
def season(weather):
  if(weather == "cold"):
    print("Winter")
  elif(weather == "sunny"):
    print("Summer")
  else:
    print("Wrong Input")

weather = input("Enter the Weather: ")
season(weather)

Enter the Weather: moon
Wrong Input

4. Write the output for the following
list1 = [1,2,3,4]

list2 = list1

list1[1] = 0

list1[3] = 0

print(list2)

In [0]:
#Contents of list2

list1 = [1,2,3,4]
list2 = list1

list1[1] = 0

list1[3] = 0

print(list2)

[1, 0, 3, 0]

5. Write a code for Countdown timer using loops and time library for 10 seconds

In [0]:
import time
i = 1
while(i <=10):
  print(i,end = '\t')
  time.sleep(1)
  i = i + 1

1	2	3	4	5	6	7	8	9	10